.form {
    position: relative;

    display: inline-flex;
    align-items: flex-end;
}

.form-field {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-content,
.form-button {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
}

.form-content {
    width: 300px;
    height: 100px;
    
    font: inherit;

    color: inherit;
    box-shadow: none;

    resize: none;

    overflow-wrap: break-word;
}

.form-button {
    position: absolute;
    bottom: 5px;
    right: 5px;

    font-size: 16px;
    line-height: 1;

    border-radius: 50%;

    cursor: pointer;
}